ul,
ol {
  list-style: none;
}

.auth {
  display: flex;
  align-items: center;
  height: 100vh;
}

.home .v-text-field .v-input__details {
  display: none !important;
}

.section {
  padding-top: 57px;
}

.link {
  color: #000000 !important;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 200;
}

.link a {
  color: inherit;
}

.link:hover {
  color: rgb(24,103,192) !important;
}